@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  max-height: 100vh;
  max-height: 100%;
}

h2 {
  font-family: "Press Start 2P", cursive;
  color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  box-sizing: border-box;
  padding: 10px;
}

.container {
  margin-top: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#canvas {
  background: #000;
}

.nav-buttons {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  #canvas {
    max-width: 330px;
  }

  .nav-buttons {
    position: relative;
    top: 2em;
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 100%;
  }

  .left-right {
    display: flex;
    justify-content: center;
  }

  .left-right button {
    margin: 3em;
    background: linear-gradient(to right, lightblue, lime);
  }

  #up,
  #down {
    margin: 0 auto;
    display: block;
    background: linear-gradient(to right, deeppink, yellow, red);
  }

  button {
    position: relative;
    top: 10px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
  }
}
