@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    padding: 0;
    margin: 0;
}

/* for preloader */
.noscroll {
    position: fixed;
    overflow: hidden;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
}

#spinner {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 101;
    background-color: #3498db;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

body {
    max-height: 100vh;
    max-height: 100%;
    background: linear-gradient(135deg, rgb(187, 227, 29) 0%, rgb(187, 227, 29) 5%,rgb(96, 176, 66) 5%, rgb(96, 176, 66) 45%,rgb(5, 125, 104) 45%, rgb(5, 125, 104) 50%,rgb(233, 253, 10) 50%, rgb(233, 253, 10) 55%,rgb(51, 151, 85) 55%, rgb(51, 151, 85) 77%,rgb(142, 202, 48) 77%, rgb(142, 202, 48) 100%);
}

h2 {
    font-family: "Press Start 2P", cursive;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    box-sizing: border-box;
    padding: 10px;
}

.reset{
    display: none;
}

.container {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#canvas {
    background: #000;
    border-radius: 7px
}

.nav-buttons {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }

    #canvas {
        max-width: 330px;
    }

    .nav-buttons {
        position: relative;
        top: 1.3em;
        width: 180px;
        height: 180px;
        display: block;
        margin: 0 auto;
        background-color:#B8ED42;
        border-radius: 100%;
        border-color:yellow;
        border-style:solid;
    }

    .left-right {
        display: flex;
        justify-content: center;
    }

    .left-right button {
        margin: 3em;
        background: linear-gradient(to right, lightblue, lime);
    }

    #up,
    #down {
        margin: 0 auto;
        display: block;
        background: linear-gradient(to right, deeppink, yellow, red);
    }
    
    .reset{
        position: absolute;
        width: 100%;
        height:200px;
        display: grid;
        align-content: center;
        justify-content: center;
        background: white;
        top: 20%;
        z-index: 1000000;
        visibility: hidden;
    }

    .reset h3{
        color: red;
        font-family: "Press Start 2P", cursive;
    }

    
    .reset button{
        margin: 0 auto;
        border: 1px solid;
        width: 60px;
        height: 20px;
        font-weight: bolder;
        font-size: 9px;;
        padding: 2px;
       box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid blueviolet;
        color : #fff;
        background: #000;
    }

    button{
        position: relative;
        top: 10px;
        box-sizing: border-box;
        background: transparent;
        border: none;
        outline: none;
    }
}
